x-base-service: &base-service
  build:
    context: .
    dockerfile: Dockerfile
  volumes:
    - ./output:/app/output
    - ./config:/app/config
    - ./assets:/app/assets

x-base-environment: &base-environment
  TZ: Europe/Lisbon

services:
  disteta:
    <<: *base-service
    container_name: disteta_analyzer
    command: >
      sh -c "python -m src.disteta_batch.main"
    environment:
      <<: *base-environment
    healthcheck:
      test: ["CMD", "test", "-f", "/app/output/.analysis_done"]
      interval: 10s
      timeout: 5s
      retries: 5
    profiles:
      - analyze

  streamer:
    <<: *base-service
    container_name: disteta_streamer
    command: >
      sh -c "python -m src.disteta_streaming.main"
    volumes:
      - ./output:/app/output
      - ./config:/app/config
      - ./assets:/app/assets
      - ./models:/app/models
    environment:
      <<: *base-environment
    profiles:
      - stream

  report_generator:
    <<: *base-service
    container_name: disteta_reporter
    command: >
      sh -c "python -m src.report_generator.main --host 0.0.0.0"
    ports:
      - "5001:5001"
    environment:
      <<: *base-environment
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      OLLAMA_BASE_URL: http://host.docker.internal:11434
    profiles: ["report"]
    build:
      context: .

  ollama:
    image: busybox:latest
    container_name: disteta_ollama_proxy
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: "sleep infinity"
    profiles:
      - ollama

  analyzer_and_reporter:
    <<: *base-service
    container_name: disteta_analyzer_reporter
    command: >
      sh -c "python -m src.report_generator.main --run-analysis --host 0.0.0.0"
    ports:
      - "5001:5001"
    environment:
      <<: *base-environment
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      OLLAMA_BASE_URL: http://host.docker.internal:11434
    profiles:
      - "analyze_report"

  test:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    container_name: disteta_tester
    command: "pytest"
    profiles:
      - test
